{% extends 'base.html'%}

{% block title %} {{ title }}::{{ block.super }} {% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html'%}
{% endblock %}
{% block content %}
    {% for item in news %}
    <div class="card mb-3">
        <div class="card-header {% cycle 'text-success' 'text-danger' %}">
            <strong> Yangilik turi:</strong> <a href="{{ item.get_absolute_url }}">
            {{item.category}} </a>
        </div>

        <div class="card-body">
            <div class="media">
                {% if item.photo %}
                <img src={{item.photo.url}} alt="rasm" width="90" height="100">
                {% endif %}
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.content|truncatewords:"50"}}</p>
                <p align="center"><a href="{{ item.get_absolute_url }}" class="btn btn-primary">Batafsil</a></p>
            </div>
        </div>

        <div class="card-footer text-muted">
            {{item.created_at|date:"d.m.Y h:i:s"}} <br>
            {{ item.created_at|timesince }} before
        </div>
    </div>
    {% endfor %}
{% endblock %}